@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
    box-sizing: 0;
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: #679;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0;
}

h1 {
    color: #fff;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: #d8c1d4 !important;
    border-radius: 21px;

}

.controls {
    background: #1f1f1e;
    color: white;
    width: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.controls .btn{
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-play{
    color: #28a745;
}




















